<!DOCTYPE html>
<html lang="en">
  <!-- Page head -->
  <%- include('../partials/head') %>
  
<body>
   <!-- header -->
        
   <%- include('../partials/header') %>
    <main>
        <form class="formulario" action="/user/login" method="post">
            <fieldset>
                <legend>Ingrese a su Cuenta</legend>
                    <div class="campo">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Coloca tu email" name="email" 
                        value="<%= locals.old && locals.old.email ? locals.old.email : '' %>">
                        <% if (locals.errors && locals.errors.email) { %>
                            <span class="error"><%= locals.errors.email.msg %></span>
                        <% } %>
                    </div>
                    
                    <div class="campo">
                        <label for="password">Contraseña</label>
                        <input type="password" placeholder="Tu contraseña" name="password" 
                        value="<%= locals.old && locals.old.password ? locals.old.password : '' %>">
                        <% if (locals.errors && locals.errors.password) { %>
                            <span class="error"><%= locals.errors.password.msg %></span>
                        <% } %>
                    </div>
                    <label for="remember">
                        Recordarme
                        <input type="checkbox" name="remember">
                    </label>
                    
            </fieldset>
            
            <input type="submit" value="Ingreso" class="btn">
            
        </form>

    
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>