<!DOCTYPE html>
<html lang="en">
<!-- Page head -->

<%- include('../partials/head') %> 

<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- Page content -->
    <main>
        <form class="formulario" action="/user" method="post" enctype="multipart/form-data" id="formulario">
            <fieldset>
                <legend>Crear Cuenta</legend>
                    <div class="campo">
                        <label for="nombre">Nombre </label>
                        <input type="text" placeholder="Coloca tu nombre" id="nombre" name="nombre"
                        value="<%= locals.old && locals.old.nombre ? locals.old.nombre : '' %>">
                        <% if (locals.errors && locals.errors.nombre) { %>
                            <span class="error"><%= locals.errors.nombre.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="Apellido">Apellido </label>
                        <input type="text" placeholder="Coloca tu apellido" id="apellido" name="apellido"
                        value="<%= locals.old && locals.old.apellido ? locals.old.apellido : '' %>">
                        <% if (locals.errors && locals.errors.apellido) { %>
                            <span class="error"><%= locals.errors.apellido.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="email">Correo electrónico</label>
                        <input type="email" placeholder="nombre@tucorreo" id="email" name="email"
                        value="<%= locals.old && locals.old.email ? locals.old.email : '' %>">
                        <% if (locals.errors && locals.errors.email) { %>
                            <span class="error"><%= locals.errors.email.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="password">Contraseña</label>
                        <input type="password" placeholder="Tu contraseña" id="password" name="password"
                        value="<%= locals.old && locals.old.password ? locals.old.password : '' %>">
                        <% if (locals.errors && locals.errors.password) { %>
                            <span class="error"><%= locals.errors.password.msg %></span>
                        <% } %>

                    </div>
                    <div class="campo">
                        <label for="imagen">Subir una foto </label>
                        <input type="file"  name="imagen" multiple>
                        <% if (locals.errors && locals.errors.imagen) { %>
                            <span class="error"><%= locals.errors.imagen.msg %></span>
                        <% } %>
                    </div>
                    
                    <input type="submit" value="Crear Cuenta" class="btn">


            </fieldset>
           
            
        </form>

    
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/register.js"></script>
</body>
</html>

