<!DOCTYPE html>
<html lang="en">
 <!-- Page head -->
 <%- include('../partials/head') %>
 
<body>
    <!-- header -->
        
    <%- include('../partials/header') %>
    <!-- Page content -->
    <main>
        <h3> <%= useredit.nombre%> <%= useredit.apellido%></h3> 
        

        <section class="section-usuarios">
    

                <h2 class="detalle-usuario"></h2>
                <div class="user-info">
                    <div class="foto">
                        <img src="/images/<%= useredit.image%>" width= "100" alt="Foto Usuario">
                    </div>
                    <p>Nombre:  <%= useredit.nombre%></p>
                    <p>Apellido:  <%= useredit.apellido%></p>
                    <p>E-mail:     <%= useredit.email %></p>
                    <p>Admin:  <%= useredit.Admin%></p>
                </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>