<!DOCTYPE html>
<html lang="en">
<!-- Page head -->
<%- include('../partials/head') %>

  <body>
    <!-- header -->

    <%- include('../partials/header') %>
      <!-- Page content -->
      
      <main>
        
        <div class="contenedor">
          
          <div class="flex_container">

            <% for(let index=0; index < users.length; index++) { %>
              <!-- <div class= contenedor_de_usuarios> -->
                <div class="detalle_de_usuario">
                  <div class="usuario-nombre">
                    <a href="/user/detalle/<%= users[index].id %>">
                  
                      <h4 id="nombre">
                        <%= users[index].nombre + " " + users[index].apellido%>
                      </h4>
                    </a>
                  </div>
                  <!-- <div class="apellido">
                    <h3 class=>
                      <label for="apellido" class="apellido"></label>
                     
                    </h3>
                  </div> -->
                  <div class="imagen-usuario">
                     <img class="user-img" id="img" src="/images/<%= users[index].image %>" width="200px" height="190px">
                    </img>
                  </div>
                </div>

            <% } %>
            </div>
      </div>



      </main>
      <%- include('../partials/footer') %>
  </body>

</html>