<!DOCTYPE html>
<html lang="en">
    <!-- Page head -->
    <%- include('../partials/head') %>
    
    <body>
        <!-- header -->
        
        <%- include('../partials/header') %>
        <!-- Page content -->
        
    <main>
        <form class="formulario" action="/product/<%= product.id ?? ''%>?_method=PUT" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Modificar Producto</legend>
                    <div class="campo">
                        <label for="nombre">Nombre de Producto</label>
                        <input type="text" 
                        placeholder="Nombre de producto a mostrar" 
                        name="nombre"
                        value=" <%= product.nombre ?? '' %>">
                        <% if (locals.errors && locals.errors.nombre) { %>
                            <span class="error"><%= locals.errors.nombre.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="descripcion">Descripción</label>
                        <input type="text" placeholder="Descripción del Producto" name="descripcion" value="<%= product.descripcion ?? '' %>">
                        <% if (locals.errors && locals.errors.descripcion) { %>
                            <span class="error"><%= locals.errors.descripcion.msg %></span>
                        <% } %>
                    </div>
                    <div class="radio unidad-medida" >
                        <label for="uom">Unidad de Medida</label>
                        <p><input type="radio" name="uom" value=1>Unidad</p>
                    </div>
                    <div class="radio categoria">
                        <label for="categoria">Categoría</label>
                        <select name="id_categoria" id="" required>
                            <option value="" disabled selected>- select category - </option>
                            <% allCategorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="precio">Precio</label>
                        <input type="text" name="precio" value="<%= product.precio ?? '' %>">
                        <% if (locals.errors && locals.errors.precio) { %>
                            <span class="error"><%= locals.errors.precio.msg %></span>
                        <% } %>
                    </div>
                    <!-- <div class="campo">
                        <label for="imagen">Subir una foto</label>
                        <input type="file" name="imagen" accept=".jpg" multiple>
                        <% if (locals.errors && locals.errors.imagen) { %>
                            <span class="error"><%= locals.errors.imagen.msg %></span>
                        <% } %>
                    </div> -->
            </fieldset>
            
            <input type="submit" value="Modificar Producto" class="btn">
            
        </form>

    
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

