<!DOCTYPE html>
<html lang="en">
    <!-- Page head -->
    <%- include('../partials/head') %>
    
    <body>
        <!-- header -->
        
        <%- include('../partials/header') %>
        <!-- Page content -->
        
    <main>
        <form class="formulario" action="/product" method="post" enctype="multipart/form-data" id="formulario">
            <fieldset>
                <legend>Nuevo Producto</legend>
                    <div class="campo">
                        <label for="nombre">Nombre de Producto</label>
                        <input type="text" placeholder="Nombre de producto a mostrar" id="nombre" name="nombre"
                        value="<%= locals.old && locals.old.nombre ? locals.old.nombre : '' %>">
                        <p class="error-form" id="error-title"></p> 
                        <i class="fa-regular fa-circle-check" id="check-nombre"></i>
                        <p class="error-nombre" id="error-nombre1">El producto debe tener mas de 5 letras</p>
                        <% if (locals.errors && locals.errors.nombre) { %>
                            <span class="error"><%= locals.errors.nombre.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="descripcion">Descripción</label>
                        <input type="text" placeholder="Descripción del Producto" id='descripcion' name="descripcion"
                        value="<%= locals.old && locals.old.descripcion ? locals.old.descripcion : '' %>">
                        <i class="fa-regular fa-circle-check" id="check-descripcion"></i>
                        <p class="error-nombre" id="error-descripcion">La descripcion debe tener minimo 20 letras</p>
                        <% if (locals.errors && locals.errors.descripcion) { %>
                            <span class="error"><%= locals.errors.descripcion.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo radio unidad-medida" >
                        <label for="uom">Unidad de Medida</label>
                        <p><input type="radio" name="uom" value=1>Unidad</p>
                    </div>
                    <!-- radio categoria -->
                    <div class="campo">
                        <label for="categoria">Categoría</label>
                        <select name="id_categoria" id="" required>
                            <option value="" disabled selected>- select category - </option>
                            <% allCategorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="campo">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio"
                        value="<%= locals.old && locals.old.precio ? locals.old.precio : '' %>">
                        <i class="fa-regular fa-circle-check" id="check-precio"></i>
                        <p class="error-nombre" id="error-precio">La descripcion debe tener minimo 20 letras</p>
                        <% if (locals.errors && locals.errors.precio) { %>
                            <span class="error"><%= locals.errors.precio.msg %></span>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="imagen">Subir una foto</label>
                        <input type="file" name="imagen" id="imagen" multiple >
                        <p class="error-nombre" id="error-imagen">Obligatorio imagen con formato especifico</p>
                        <% if (locals.errors && locals.errors.imagen) { %>
                            <span class="error"><%= locals.errors.imagen.msg %></span>
                        <% } %>
                    </div>
            </fieldset>
            
            <input type="submit" value="Crear Nuevo Producto" class="btn">
            
        </form>

    
    </main>
    <%- include('../partials/footer') %>
    <Script src="/js/product.js"></Script>
</body>
</html>

